<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a th:href="@{/student/all}">Volver</a>
    <h1>Información de estudiante</h1>
    <p th:text="${estudiante.nombre}"></p>
    <p th:text="${estudiante.correo}"></p>
    <p th:text="${estudiante.carrera}"></p>
    <p th:text="${estudiante.semestre}"></p>

    <h2>Tareas Pendientes</h2>

    <ul th:each="tarea : ${estudiante.tareas}">
      <li th:text="${tarea.name}"></li>
      <li th:text="${tarea.detail}"></li>
    </ul>
  </body>
</html>
